[submodule "production"]
	path = production
	url = https://github.com/coffeenotfound/blog-deploy.git
[submodule "content-private"]
	path = content-private
	url = https://github.com/coffeenotfound/blog-content.git
